/*

    text-color #f8f8f2

*/

body {
    background: #272822;
    color: #f8f8f2;
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    font-size: 12px;
}

#wrap {
    position: absolute;
    top: 50px;
    width: 100%;
}

#editori {
    width: 50%;
    height: auto;
}
 
 
#compile {
    color: #8be9fd !important;
    font-size: 120%;
    padding-left: 80px;
}

#compile:hover {
    text-decoration: none !important;
    color: #ff5555 !important;
}

#tulos {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50%;
    border-left: 5px solid #202020;
}

#komentorivi {
    margin: 10px;
    min-height: 40vh;
}


.select {
    color: black;
}

/* Console tyylit */

.jquery-console-prompt-box
 {
     color: #fff;
     font-family: monospace;
     margin-top: 5px;
 }

.jquery-console-cursor
 {
    background:#fefefe;
    color:#333;
    font-weight: bold;
 }

/* Bootstrapin default-teemoituksen ylikirjoitus */
.navbar {
    border-radius: 0;
    background-color: #282a36;
    border: 0;
}

.nav-tabs {
    background-color: #191A21;
    border: 0;
}

.nav-tabs > li {
    background-color: transparent;
}

.nav-tabs > li > a {
    border-radius: 0;
    color: #f8f8f2;
}

.nav-tabs > li > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active >a {
    color: white !important;
    border-color: #282A36 !important;
    background-color: #282A36 !important;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: #f8f8f2 !important;
}

.navbar-default .navbar-nav>.open>a {
    background-color: #282A36 !important;
}

pre.compile-output {
    font-size: 95%;
    overflow: auto;
    border-radius: 0;
    border: 0;
}