body {
    background: #272822;
    color: white;
    padding: 0px;
    margin: 0px;
    font-family: Arial;
}

.navbar {
    border-radius: 0;
    background-color: #282a36;
    border: 0;
    border-bottom: 3px solid #315E80;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color: white !important;
}

.navbar-default .navbar-nav>.open>a {
    background-color: #44475a !important;
}

#wrap {
    position: absolute;
    top: 55px;
    width: 100%;
    height: 100%;
}

#editori {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 50%;
}

#tulos {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    border-left: 5px solid #315E80;
}

#komentorivi {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.select {
    color: black;
}

/* Console tyylit */

.jquery-console-prompt-box
 {
     color: #fff;
     font-family: monospace;
     margin-top: 5px;
 }

.jquery-console-cursor
 {
    background:#fefefe;
    color:#333;
    font-weight: bold;
 }
